@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --shadow: 0px 4px 10px rgba(157, 157, 157, 0.2);
}

*{
    margin: 0;
    padding: 0;
}

.content-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    user-select: none;
}

.dark{
    scrollbar-color: #686868 #424242;
}

.navbar{
    box-shadow: var(--shadow);
}

.brandName{
    font-weight: 700;
    font-size: 27px;
}