@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --shadow: 0px 4px 10px rgba(157, 157, 157, 0.2);
}

*{
    margin: 0;
    padding: 0;
}

.content-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.navbar{
    box-shadow: var(--shadow);
}

.brandName{
    font-weight: 500;
    font-size: 30px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

.search{
    box-shadow: var(--shadow);
    border: 1px solid #757575be;
    border-radius: 20px;
    height: 40px;
}

.searchBar{
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-indent: 15px;
    outline: none;
    border-right: 1px solid #757575be;
    
}

.searchIconDiv{
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 0 6px;
}

.menu{
    box-shadow: var(--shadow);
    padding: 6vh 0;
}